body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "main-font";
  src: url("/fonts/Alatsi-Regular.ttf");
}

/* nav */
nav {
  list-style-type: none;
  font-family: main-font;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 224, 96);
  padding-right: 10%;
}

.home {
  float: left;
  display: flex;
  font-weight: bold;
  padding-left: 20%;
  cursor: pointer;
}
.home a {
  padding: 14px 4px;
}
.home img {
  display: block;
  padding-right: 0px;
  /* padding-top: 15px; */
  width: 20px;
  height: 20px;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: rgb(28, 28, 28);
  text-align: right;
  padding: 14px 8px;
  text-decoration: none;
}
nav li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  /* padding: 14px 8px; */
  cursor: pointer;
}

/* Home Page */
.homepage-header-img {
  background-image: url("img/background\ header\ img.png");
  background-color: rgba(242, 224, 96, 0.1);
  margin: 0;
  padding: 0;
}

/* li a:hover {
  background-color: #111;
} */

.homepage-header {
  display: grid;
  justify-content: center;
  padding-top: 100px;
  font-family: main-font;
}
.homepage-header h1 {
  /* grid-column:span; */
  font-weight: bold;
  font-size: 46px;
}
.homepage-header p {
  font-size: 20px;
}

/* about us */

/* footer */
.footer {
  background-color: #cefaea;
  height: auto;
  font-family: "main-font";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-nav {
  overflow: visible;
  flex-basis: 100%;
  margin-top: 20px;
  padding-left: 14.5%;
  background-color: #cefaea;
}

.footer-nav li {
  float: left;
}

footer aside {
  flex-basis: 37%;
  margin: 5px;
}

footer aside h2,
footer aside h3 {
  padding-left: 38px;
}

footer aside ul {
  list-style-type: none;
}

footer p {
  background-color: #f2e060;
  flex-basis: 100%;
  margin-bottom: 0%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15%;
  text-align: left;
}
