body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "main-font";
  src: url("/fonts/Alatsi-Regular.ttf");
}

/* nav */
nav {
  list-style-type: none;
  font-family: main-font;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 224, 96);
  padding-right: 10%;
}

.home {
  float: left;
  display: flex;
  font-weight: bold;
  padding-left: 20%;
  cursor: pointer;
}
.home a {
  padding: 14px 4px;
}
.home img {
  display: block;
  padding-right: 0px;
  /* padding-top: 15px; */
  width: 20px;
  height: 20px;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: rgb(28, 28, 28);
  text-align: right;
  padding: 14px 8px;
  text-decoration: none;
}
nav li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  /* padding: 14px 8px; */
  cursor: pointer;
}

/* Home Page */
.homepage-header-img {
  background-image: url("img/background\ header\ img.png");
  background-color: rgba(242, 224, 96, 0.1);
  margin: 0;
  
}

/* li a:hover {
  background-color: #111;
} */

.homepage-header {
  display: grid;
  justify-content: center;
  padding: 100px 0 28px 0;
  font-family: main-font;
}
.homepage-header h1 {
  /* grid-column:span; */
  font-weight: bold;
  font-size: 46px;
}
.homepage-header p {
  font-size: 20px;
}


.mainbtn {
  font-family: main-font;
  color: #0BA76E ;
  font-size: 16px;
  /* text-shadow: 1px 1px 0px #ffffff; */
  /* box-shadow: 1px 1px 1px #BEE2F9; */
  margin: 0 30em 0 0;
  padding: 10px 25px;
  border-radius: 4px;
  border: 2px solid #0BA76E;
  background: #f8f8f8;
  cursor: pointer;
  transition: color 200ms ease-out 50ms;
}
.mainbtn:hover {
  color: #f8f8f8 !important;
  background: #0BA76E;
  transition: background-color 150ms ease-out 100ms;
}

.pagebreak{
  display: block;
  height: 20px;
  background-color: #0BA76E;
}

.menu-preview{
  display: block;
  height: 1690px;
  background-color: #f8f8f8;
  display: grid;
  justify-content: end;
  padding-top: 40px;
  padding-right: 30%;
}

.menu-preview-text{
  font-family: main-font;
  font-size:24px;
  text-decoration: underline;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/* about us */

/* footer */
.footer {
  background-color: #cefaea;
  height: auto;
  display: flex;
  font-family: main-font;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer aside {
  flex-basis: 25%;

}

footer p {
  background-color: #f2e060;
  flex-basis: 100%;
  margin-bottom: 0%;
  text-align: center;
}
