@font-face {
    font-family: 'main-font';
    src: url('/fonts/Alatsi-Regular.ttf');
}

/* main page */
ul {
    font-family: main-font;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2E060;
  }
  
.home {
  float: left;
  font-weight: bold;
}
li {
  float: right;
}

li a {
  display: block;
  color: rgb(28, 28, 28);
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}
li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;

  padding: 14px 14px;
}

.homepage-header-img{
    background-image: url("img/background\ header\ img.png");

}

/* li a:hover {
  background-color: #111;
} */


.homepage-header{
    display: flex;
    justify-content: center;
    padding-top: 100px;

}
.homepage-header h1{
    font-family: main-font;
    font-weight: bold;
    font-size: 46px;
}








/* about us */
.footer {
    background-color: #cefaea;
    display: flex;
  }
  
  footer p {
    background-color: #f2e060;
  }